<!DOCTYPE html	>
<html>
  <head> 
    <title>Hello!</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../css/build.css" type="text/css"/>
    <script src="../js/lib.js"></script>
    <script src="../js/build.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="logo header-logo"><span>Партнерская сеть</span><span>по продаже</span><span>трендовых товаров</span></div>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li><a href="javascript:void(0);">Чем вы будете заниматься?</a></li>
            <li><a href="javascript:void(0);">Преимущества работы с нами</a></li>
            <li><a href="javascript:void(0);">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>