doctype html	
html
	head 
		title Hello!
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no") 
		link(rel='stylesheet', href='./css/slick-theme.css', type='text/css' )
		link(rel='stylesheet', href='./css/slick.css', type='text/css' )
		link(rel='stylesheet', href='./css/magnific-popup.css', type='text/css' )
		link(rel='stylesheet', href='./css/build.css', type='text/css' )
		script(src='./js/lib.js')
		script(src='./js/build.js')
	body
		div.wrapper
			div.top-banner
				h1 Стань нашим партнером <br> и получи интренет-магазин в твоем регионе
				.open-form__wrap
					form.open-form.open-form__banner
						input(type="text" name="name" placeholder="Имя").g-input
						input(type="phone" name= "phone" placeholder="Телефон").g-input
						input(type="submit" value="Отправить заявку").g-btn
					.open-form__success
						span Спасибо за вашу заявку! <br> Наш менеджер свяжется с Вами в ближайшее время!
			div.header
				div.container
					div.logo.header-logo
						span Партнерская сеть
						span по продаже
						span трендовых товаров
					nav.main-nav
						.nav-mobile
							span.nav-mobile__line.nav-mobile__line--top
							span.nav-mobile__line.nav-mobile__line--middle
							span.nav-mobile__line.nav-mobile__line--bottom
						ul.main-nav__list
							li
								a(href="#doing").scroll-link Чем вы будете заниматься?
							li
								a(href="#why").scroll-link Преимущества работы с нами
							li
								a(href="#invite").scroll-link Контакты
			.about-us
				.container
					.about-us__img
						img(src='./images/about-us.png')
					.about-us__text
						p Мы занимаемся поставкой и продажей трендовых товаров уже 5 лет. 
						p Постоянно тестируем новые товары, выявляем тренды и поставляем их напрямую от поставщика.
						p Наши маркетологи разрабатывают и запускают сайты, настраивают рекламные каналы.
			.doing#doing
				.container
					h2.section-title Чем Вы будете заниматься?
					span.doing-descr Вы будете продавать популярные товары через собственный интернет-магазин:
					.doing-icons
						.js-doing-icons
							.doing-icons__item
								img(src='./images/ceo.png')
								span СЕО, контекстная реклама, социальные сети, Авито
								img.arrow(src='./images/arrow.png')
							.doing-icons__item
								img(src='./images/shop.png')
								span Интернет-магазин
								img.arrow(src='./images/arrow.png')
							.doing-icons__item
								img(src='./images/call.png')
								span Звонок клиенту
								img.arrow(src='./images/arrow.png')
							.doing-icons__item
								img(src='./images/send.png')
								span Отправляете товар
								img.arrow(src='./images/arrow.png')
							.doing-icons__item
								img(src='./images/cash.png')
								span Получаете деньги
			.price.grey-bg
				.container
					h2.section-title Наши пакеты
					.price-slider
						img.price-slider-prev(src='./images/arrow-m-left.png')
						img.price-slider-next(src='./images/arrow-m-right.png')
						.js-price__slider
							.price-item
								h3.price-item-title Старт
								ul.g-list
									li Настройка и подключение cайт landing page
									li Обучение
									li Первая партия товара на
										b  20 000 р.
									li Подключение 1 канала рекламы 
										span.price-list__descr Яндекс-Директ
								.price-item__bottom
									span.price-item__number 50 000 руб.
									a(href='javascript:void(0);').g-btn Отправить заявку

							.price-item
								h3.price-item-title Стандарт 
								ul.g-list
									li Настройка и подключение cайт landing page
									li Обучение
									li Первая партия товара на 
										b 25 000 р.
									li Подключение 2 каналов рекламы 
										span.price-list__descr Яндекс-Директ и Google Adwards
									li Подключение новых трендовых товаров 
										b со скидкой 30%
									li Аккаунт-поддержка от нашего маркетингового агенства на первый месяц
								.price-item__bottom
									span.price-item__number 70 000 руб.
									a(href='javascript:void(0);').g-btn Отправить заявку

							.price-item
								h3.price-item-title Премиум 
								ul.g-list
									li Настройка и подключение cайт landing page
									li Обучение
									li Первая партия товара на
										b  35 000 р.
									li Подключение 5 каналов рекламы 
										span.price-list__descr Яндекс-Директ и Google Adwards, таргетированная реклама в соц сетях, РСЯ, продвижение в Instagram
									li Подключение новых трендовых товаров 
										b со скидкой 50%
									li Аккаунт-поддержка от нашего маркетингового агенства на первый месяц
								.price-item__bottom
									span.price-item__number 100 000 руб.
									a(href='javascript:void(0);').g-btn Отправить заявку
			.why#why
				.container
					h2.section-title Почему с нами выгодно сотрудничать?
					.why-content
						ul.g-list
							li 
								b Сроки окупаемости 
								|– учитывая минимальные вложения, Вы окупитесь за первый месяц
							li 
								b Возможность масштабирования
								|- вы будете продавать не только товар, который мы подключили Вам изначально, - мы постоянно тестируем новые товары, выявляем тренды, дальше у вас будет возможность постоянно подключать новые товары, которые будут появляться, таким образом, зарабатывать больше
							li 
								b Перспективные ниши 
								|– мы продаем трендовый товар, на который уже есть спрос либо который набирает популярность
							li Предоставляем полное обучение по осуществлению продаж через интернет-магазин 
							li Вы получаете свой бизнес, сами зарабатываете, мы не контролируем вашу выручку и не берем роялтиц
							li 
								b Быстрый старт 
								|- на запуск сайта, рекламных каналов, закуп первой партии товара нужно 5 дней, - Вы сможете получать первые заявки уже на 6й день
							li 
								b Сроки окупаемости 
								|– учитывая минимальные вложения, Вы окупитесь за первый месяц
							li 
								b Маркетинговая поддержка 
								|- наши маркетологи настроят и адаптируют все рекламные каналы под Ваш регион и будут полностью сопровождать Ваш проект первый месяц
							li Мы сами занимаемся поставками товара от производителя, Вы будете получать товар по самым выгодным оптовым ценам
							li Высокомаржинальный товар
			.review.grey-bg
				.container
					h2.section-title Отзывы наших клиентов
					.review-slider
					img.review-slider__next(src='./images/arrow-next.png')
					img.review-slider__prev(src='./images/arrow-prev.png')
					.js-review__slider
						.review_-item
							.review-item__content
								iframe( src="https://www.youtube.com/embed/Sg8yDcJ0xAo" frameborder="0" allowfullscreen)
						.review_-item
							.review-item__content
								iframe(src="https://www.youtube.com/embed/9rij3ut7XbM" frameborder="0" allowfullscreen)
						.review_-item
							.review-item__content
								iframe( src="https://www.youtube.com/embed/FEtG67mGnLA" frameborder="0" allowfullscreen)
			.region
				.container
					img(src="./images/region-man.png").region-man__pic
					h2.section-title Мы открываем одно представительство в регионе
					.open-form__wrap
						form.open-form.open-form__banner
							span.form-title Проверьте,<br> свободен ли Ваш город?
							input(type="text" name="city" placeholder="Название города").g-input
							input(type="phone" name= "phone" placeholder="Телефон").g-input
							input(type="submit" value="Отправить заявку").g-btn
						.open-form__success
							span.form-title Спасибо за Ващу заявку!
							span Наш менеджер свяжется <br> с Вами в ближайшее время!
			.invite#invite
				.container
					h2.section-title Присоединяйся к нашей команде!
					form.invite-form
						input(type="text" name="city" placeholder="Название города").g-input
						input(type="phone" name= "phone" placeholder="Телефон").g-input
						input(type="submit" value="Отправить заявку").g-btn
			.footer
				.container
					a(href="#politic").popup-link.footer-politic Политика конфиденциальности
					a(href="tel:+74951234567").footer-phone +7 (495) 123-45-67

			.popup#politic.mfp-hide
				h4.popup-title Заголовок
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.