ul,li
	list-style-type none
a
	text-decoration none
	color black

*
	padding 0
	margin 0
	font-size 18px
*:focus {
    outline: none;
}
.grey-bg
	background-color #f6fafb
.container 
		position relative
		width 97%
		max-width 1200px
		margin 0 auto
.open-form__wrap
	position relative
	width 95%
	max-width 380px
	margin 0 auto
	background rgba(255,255,255,.2)
	padding 40px
	border-radius 25px
	height 225px

.g-input
	display block
	width 95%
	background-color #fff
	color #999
	height 50px
	line-height 50px
	padding-left 25px
	margin-bottom 30px
	border-radius 30px
	border 0
.g-btn
	width 100%
	display block
	height 50px
	line-height 44px
	text-align center
	color #fff
	border-radius 30px
	border 0
	//тень на глаз подобрали
	box-shadow 0 6px 12px 5px rgba(0,0,0,.2)
	//colinkeany.com/blend - сервис для создания градиента
	background: -webkit-linear-gradient(90deg, rgb(113, 122, 255), rgb(223, 119, 255));
	cursor pointer
.open-form__banner
	//display none
.open-form__success
	display none
	text-align center
	color #fff
	&:before
		content ''
		display block
		background url('../images/pink-success.png') 0 0 no-repeat
		height 124px
		width 120px
		margin 0 auto 20px
	span
		display block
		font-family "MuseoSansCyrl-500"
		line-height 30px


.section-title
	font-family "MuseoCyrl-700"
	font-size 32px
	color #333
	text-align center
	position relative
	&:after
		content ''
		display block
		width 80px
		height 10px
		margin 40px auto
		border-radius 5px
		background: -webkit-linear-gradient(90deg, rgb(113, 122, 255), rgb(223, 119, 255));
		
.g-list
	li
		position relative
		padding-left 20px
		line-height 30px
		margin-bottom 10px
		font-size 18px
		font-family "MuseoSansCyrl-300"
		&:before
			content ''
			position absolute
			top 16px
			left 0
			display block
			width 5px
			height 5px
			border-radius 50%
			background-color:#4a90e2
.success-text__mobile
	display none
.price-slider-next, .price-slider-prev,.review-slider__next, .review-slider__prev
	position absolute
	top 50%
	z-index 2
	cursor pointer
.price-slider-next, .review-slider__next
	right 0
.price-slider-prev, .review-slider__prev
	left 0
