.doing-descr
	display block
	font-size 24 px
	text-align center
	margin-bottom 60px
	color #333
	font-family "MuseoSansCyrl-300"
.doing-icons
	.doing-icons__item
		position relative
		width 17%
		padding-top 140px
		font-family "MuseoSansCyrl-300"
		color #333
		text-align center
		margin-bottom 80px
		span
			font-size 16px !important
		img
			position absolute
			top 5%
			left 30%
		.arrow
			position absolute
			display block
			left 100%
			top 40px