.why 
	padding 60px 0
	background url('../images/why.jpg') 0 0 no-repeat
	//чтобы на всю ширину
	background-size cover
.why-content
	background-color #fff
	padding 80px
	border-radius 25px
	.g-list
		li
			margin-bottom 30px
			&:last-child
				margin-bottom 0