.review
	padding 60px 0
	.review-item__content
		width 80%
		margin 0 auto
		//чтобы его можно было листать
		iframe
			width 100%
			height 550px
			//safari схолпывает айфрейм, если не указать мин ширину
			min-width 500px
			margin 0 auto
.review-slider
	position relative
//стилизуем точки слайда 
//- просто нашли стили и поменяли их по признаку приоритета
	
.slick-dots
	bottom -40px		
.slick-dots li button:before
	//увеличили точки
	font-size 10px
	color #717aff
.slick-dots li.slick-active button:before
	color #717aff
	font-size 15px