.region
	padding 60px 0
	background #463d73 url('../images/map.png') center 0 no-repeat
	background-size 90%
	overflow hidden
	//меняем стили именно для класса, который находится в классе region
	.section-title
		color #fff
		&:after
			background white
			
	.container
		//указываем минимальную высоту, т.к. у нас блоки находятся в абсолюте
		min-height 725px
		padding 60px 0
		
	.open-form__wrap
		position absolute
		right 10%
		margin 0
		height 350px
		background-color #fff
		.g-input
			border 1px solid #e1e1e1
		.form-title
			display block
			text-align center
			margin-bottom 50px
			font-size 24px
			font-family "MuseoSansCyrl-500"
			color #333333
			line-height 30px
		.open-form__success
			position relative
			padding-top 70px
			color black
			.form-title
				top 0
				position absolute
				//этим эффектом у абсолюта сделали выраванивание по центру
				text-align center
				width 100%
			&:before
				margin-bottom 50px
.region-man__pic
	position absolute
	left 0
	bottom 0
	bottom -180px
	max-width 450px
	width 100%