.invite
	padding 40px 0
	background #717aff
	.section-title
		color #fff
		margin-bottom 60px
		&:after
			display none
	.invite-form
		width 100%
		max-width 940px
		margin 0 auto
		display flex
		justify-content space-around
		.g-input, .g-btn
			width 25%
			
		.g-btn
			background #463d73