.footer
	padding 20px 0
	background #333
	.container
		display flex
		justify-content space-between
		.footer-politic
			font-family "MuseoSansCyrl-500"
			font-size 16px
			color #fff
			text-decoration underline
			opacity 0.5
		.footer-phone
			font-size 20px
			color #fff
			font-family "MuseoSansCyrl-500"
			
.popup
	position relative
	width 95%
	margin 30px auto
	max-width 600px
	padding 15px
	border-radius 25px
	background-color white
	.popup-title
		margin-bottom 20px
		text-align center
		font-family "MuseoSansCyrl-900"
		font-size 30px
	p
		font-family "MuseoSansCyrl-500"
		font-size 16px
		padding 20px