@media screen and (max-width 1240px)
	.price
		//чтобы не было скролла
		overflow hidden
		.container
			width 100%
			margin 0
		.price-item
			height 650px
			margin 0 40px 10px
	.g-list 
		li
			margin-bottom 5px
			line-height 25px
@media screen and (max-width 1150px)
	.review-slider__next, .review-slider__prev
		display none
		
@media screen and (max-width 1100px)
	.main-nav__list
		li
			margin-right 30px
	.top-banner h1
		font-size 40px
		line-height 50px

@media screen and (max-width 950px)
	.section-title
		font-size 24px
		margin-left 20px
		margin-right 20px
	.wrapper
		position relative
		width 100%
		max-width 950px
		overflow hidden
	.nav-mobile
		display block			
	.top-banner
		min-height 700px
	.top-banner h1
		font-size 30px
		line-height 40px
		margin-bottom 80px
	.about-us__text 
		font-size 22px
		line-height 30px
		p
			margin-bottom 20px	
	.main-nav__list
		position absolute
		//мы его просто спрятали, поэтому и убрали так далеко)
		right -900px
		z-index 1
		background-color #463d73
		width 100%
		//сделали меню прям под линией
		top 105px
		max-width 320px
		padding 45px 0 45px 30px
		transition all linear .8s
		
		li
			display block
			margin-bottom 40px
			margin-right 15px
			&:last-child
				margin-bottom 0
	.doing
		.container
			overflow hidden

	.price .price-item
			height auto
			margin 0 0 10px
			
		.price-item__bottom
			position static
		.g-list li
			font-size 16px
			line-height 20px
			
			&:before
				top 7px
	
	.region
		.container
			min-height auto
			.region-man__pic
				display none
			
			.open-form__wrap
				position static
				
	.region 
		.open-form__wrap 
			max-width 253px
			margin 0 auto
			height 300px
			.open-form__success
				span
					font-size 16px
					
				
	.region 
		.open-form__wrap 
			.open-form__success 
				.form-title
					margin-bottom 0
	.region 
		.open-form__wrap 
			.open-form__success
				margin-top 100px
				padding-top 40px
	.region 
		.open-form__wrap 
			.form-title
				font-size 16px
				margin-bottom 25px
	.region .open-form__wrap .open-form__success:before
		display none
		
	.region
		background-size 143%
		paddin 0
		
@media screen and (max-width 900px)
	.about-us
		padding 50px 0
		.about-us__text
			//это благодаря тому, что там позиционирование flex
			order 1
			width 100%
			margin-bottom 70px
			
		.about-us__img
			order 2
	
	.why-content
		padding 40px

@media screen and (max-width 750px)
	.invite-form
		flex-wrap wrap
		
	.invite .invite-form .g-input, .invite .invite-form .g-btn
			width 100%
			margin-right 20px
			margin-left 20px

@media screen and (max-width 630px)
	.review.grey-bg
		.container
			width 100%
			margin 0
			
	.review .review-item__content
		width 100%
		
@media screen and (max-width 500px)
	.top-banner
		min-height 600px
		
	.top-banner h1
		padding 0 5px
		font-size 24px
		line-height 40px
	//доработала сама адаптив под мобилку именно для верхнего блока	
	.open-form__wrap
		padding 20px
		
		.g-input
			width 90%
		
		.g-btn
			width 95%
		
		.open-form__success
			margin-top 40px
			
			&:before
				display none
			
			span
				line-height 40px
				font-size 16px
				margin-bottom 30px
				
				&:last-child
					margin-bottom 0
	
	.why-content
		padding 20px
					
	.doing-descr
		font-size 16px
		line-height 30px

	.doing-icons .doing-icons__item
		padding-top 115px

	.doing-icons .doing-icons__item .arrow
		left 55%
		
	.review .review-item__content iframe
		height 200px
	
	.footer
		.container
			flex-wrap wrap
	.footer-politic, .footer-phone
			flex-basis auto
			width 100%
			text-align center
			margin-bottom 15px
	.footer-phone
		margin-bottom 0px
	.footer-politic
		font-size 14px !important
@media screen and (max-width 400px)

	.price
	
		.g-list li
			b 
				display block
		
@media screen and (max-width 350px)

	.top-banner h1
		padding 0 5px
		font-size 22px
		line-height 40px
